@import "./variables.scss";

.alert {
  border-radius: 5px;
  opacity: 0.6;
  &.alert-primary {
    background-color: $primary;
  }
  &.alert-danger {
    background-color: $danger;
  }
  &.alert-secondary {
    background-color: $secondary;
  }
  &.alert-go {
    background-color: $go;
  }
  &.alert-warning {
    background-color: $warning;
  }
  &.alert-light {
    background-color: $light;
  }
  &.alert-dark {
    backgro und-color: $dark;
  }
}
