// BASE COLORS

$red: #ff0000;
$blue: #007cff;
$gray: #999999;
$green: #50bd00;
$yellow: #fffb00;
$light-gray: #d8d8d8;
$dark-gray: #4c4c4c;

// COLOR CODES

$danger: $red;
$primary: $blue;
$secondary: $gray;
$go: $green;
$warning: $yellow;
$light: $light-gray;
$dark: $dark-gray;

// MARGIN

$mg-1: 1rem;
$mg-2: 2rem;
$mg-3: 3rem;
$mg-4: 4rem;
$mg-5: 5rem;

// PADDING

$pd-1: 1rem;
$pd-2: 2rem;
$pd-3: 3rem;
$pd-4: 4rem;
$pd-5: 5rem;

// FONT SIZES

$f1: 6rem;
$f2: 5.5rem;
$f3: 4rem;
$f4: 3.5rem;
$f5: 3rem;
$f6: 2.5rem;
$f7: 2rem;
$f8: 1.5rem;
$f9: 1rem;

// BASE BORDER SIZES

$one: 1px;
$two: 2px;
$three: 3px;
$four: 4px;
$five: 5px;
$six: 6px;

// BORDER SIZE CODES

$b-1: $one;
$b-2: $two;
$b-3: $three;
$b-4: $four;
$b-5: $five;
$b-6: $six;
